<app-spinner-page></app-spinner-page>
<div>
    <div class="bg-affiliater ">
        <div class="affiliater-banner">
        </div>
        <div class="form-register">
            <div class="frame">
                <div class="zoom" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500"
                    data-aos-delay="50">
                    <h4 class="">Trở thành người có ảnh hưởng đến trò chơi, kiểu chơi</h4>
                    <h2 class="">Đăng ký trở thành Games thủ</h2>
                </div>
                <div class="card border-0" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                    data-aos-delay="0">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Tên game <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <select class="form-select" (ngModel)="serviceSelected"
                                    (change)="onChangeServiceModel($event)">
                                    <option>Chọn game</option>
                                    @for(item of serviceModels; track item){
                                    <option value="{{item.serviceId}}">{{item.serviceName}}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Server <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <select class="form-select" (ngModel)="serverSelected"
                                    (change)="onChangeServerModel($event)">
                                    <option>Chọn Server</option>
                                    @for(item of serverModels; track item){
                                    <option value="{{item.serverId}}">{{item.serverName}}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Nhân vật <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <select class="form-select" (ngModel)="roleSelected">
                                    <option>Chọn nhân vật</option>
                                    @for(item of this.roleModels; track item){
                                    <option value="{{item.roleId}}">{{item.roleName}}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Biệt danh <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <input type="text" class="form-control" id="nickname" placeholder="Nhập biệt danh"
                                    name="nickname">
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Mã giới thiệu <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <input type="text" class="form-control" id="code"
                                    placeholder="Hệ thống tự sinh và là duy nhất" name="code" readonly>
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-2">
                                <h4>Lời giới thiệu <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-2">
                                <input type="text" class="form-control" id="about" placeholder="Giới hạn 60 ký tự"
                                    name="about">
                            </div>
                            <div class="col-lg-3 offset-lg-1 py-3">
                                <h4>Livestream <a style="color: red; font-weight: normal;">*</a></h4>
                            </div>
                            <div class="col-lg-7 py-3 text-start">
                                <a class="text-decoration-none" href="#">
                                    <img src="images/icon-liveg.png" alt=""
                                        class="img-fluid img-fluid-custom zoom-50" />
                                </a>
                                <a class="text-decoration-none" href="#">
                                    <img src="images/icon-ytb-xl.png" alt=""
                                        class="img-fluid img-fluid-custom zoom-50" />
                                </a>
                                <a class="text-decoration-none" href="#">
                                    <img src="images/icon-tiktok-xl.png" alt=""
                                        class="img-fluid img-fluid-custom zoom-50" />
                                </a>
                                <p class="fw-bold pt-3"> <a style="color: red; font-weight: normal;">*</a> Yêu cầu tối thiếu 100 Subcriber/Follower</p>
                                <p class="mb-0 fs-10">Yêu cầu cá nhân điền đầy đủ thông tin trong Hợp đồng.</p>
                                <p class="mb-0 fs-10">Cá nhân hoàn toàn chịu trách nhiệm với các nội dung trong Hợp đồng
                                </p>
                                <div class="btn-xacthuc">
                                    <a class="btn" href="#" title="">
                                        Xác thực thông tin Hợp Đồng
                                    </a>
                                </div>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="policy">
                                    Tôi đồng ý với các
                                    <a class="fw-bold" href="#" title="Điều khoản">
                                        điều khoản
                                    </a>
                                    và
                                    <a class="fw-bold" href="#" title="chính sách">
                                        chính sách
                                    </a>
                                    của VTC Mobile. </label>
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="age">
                                    Tôi xác nhận đủ từ 18 tuổi trở lên. </label>
                            </div>

                            <div class="col-3 offset-lg-1 py-2 text-end">
                                <button type="button" class="btn btn-secondary">Hủy</button>
                            </div>
                            <div class="col-7 py-2 d-grid">
                                <button type="button" class="btn btn-primary-xl btn-block">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>