<!-- <app-spinner-page></app-spinner-page> -->
<div class="bg-profile">
    <div class="profile-banner" [ngStyle]="{'background-image': 'url(./images/bg-banner-distribute.png)'}">
    </div>
    <div class="profile-content">
        <div class="container">
            <div class="d-flex justify-content-start align-items-center pb-4">
                <h4>
                    <a class="active" (click)="onNavPersonalPage()" title="Trang cá nhân">
                        Trang cá nhân
                    </a>
                </h4>
                <img src="images/line-white.png" class="img-fluid px-5" alt="" />
                <h4>
                    <a class="title-page" (click)="onNaReportCommonPage()" title="Báo cáo chi tiết">
                        Báo cáo chi tiết
                    </a>
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="card border-0">
                        <div class="card-body account text-start">
                            <h2>Thông tin tài khoản</h2>
                            <div class="info">
                                <p class="mb-0"><span class="name">{{influencerModel?.nickName}}</span><span
                                        class="mail ps-2">({{influencerModel?.scoinName}})</span></p>
                            </div>
                            @if(influencerModel?.status == 0){
                                <p class="small">(* Chờ phê duyệt)</p>
                            }
                            @else {
                                <p class="small">(* Đã phê duyệt)</p>
                            }
                            <div class="social text-end social-margin">
                                <a class="text-decoration-none" href="{{influencerModel?.liveGChannel}}">
                                    <img src="images/icon-liveg.png" alt="" class="img-fluid img-fluid-custom">
                                </a>
                                <a class="text-decoration-none" href="{{influencerModel?.youtubeChannel}}">
                                    <img src="images/icon-ytb-xl.png" alt="" class="img-fluid img-fluid-custom">
                                </a>
                                <a class="text-decoration-none" href="{{influencerModel?.twitchChannel}}">
                                    <img src="images/icon-tiktok-xl.png" alt="" class="img-fluid img-fluid-custom">
                                </a>
                            </div>
                            <div class="copy padding-div">
                                <span class="pe-0">Link phân phối: {{influencerModel?.linkPath}}</span>
                                <a class="ps-2" (click)="onCopyLinkPathClipboar()">
                                    <img src="images/icon-copy.png" alt="" class="img-fluid" />
                                </a>
                            </div>
                            <div class="copy padding-div">
                                <span class="pe-0">Mã giới thiệu: {{influencerModel?.referenceName}}</span>
                                <a class="ps-2" (click)="onCopyLinkPathReferenName()">
                                    <img src="images/icon-copy.png" alt="" class="img-fluid" />
                                </a>
                            </div>
                            <div class="copy padding-div">
                                <span class="pe-2">Lời giới thiệu: {{influencerModel?.slogan}}</span>
                                <a class="btn-edit" title="Chỉnh sửa" (click)="onNavToRegisterPage()">
                                    Chỉnh sửa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-body game-info text-start">
                            <h2>Thông tin Game</h2>
                            <div class="row align-items-center">
                                <div class="col-lg-3 text-end fw-bold py-2">
                                    Tên game
                                </div>
                                <div class="col-lg-9 text-start py-2">
                                    <select class="form-select"  (change)="onChangeServiceSelected($event)">
                                        <option>Chọn game</option>
                                        @for(item of serviceModels; track item){
                                        <option value="{{item.serviceId}}">{{item.serviceName}}</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3 text-end fw-bold py-2">
                                    Tên server
                                </div>
                                <div class="col-lg-9 text-start server py-2">
                                    {{firstSeverModel?.serverName}}
                                </div>
                                <div class="col-lg-6 text-center">
                                    <div class="total">
                                        <h4 class="title-total">Tổng nạp</h4>
                                        <h2 class="number-total">0</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-center">
                                    <div class="total">
                                        <h4 class="title-total">Tổng Point</h4>
                                        <h2 class="number-total">{{(influencerModel?.point ?? 0 | number:'1.0-0')?.replace(',', '.')}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4 border-0">
                <div class="card-body statistical-account">
                    <h2 class="title">Thống kê</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center btn-filter flex-wrap">
                            <button type="button" class="btn ms-0">Toàn bộ</button>
                            <button type="button" class="btn">Hôm nay</button>
                            <button type="button" class="btn">1 tuần</button>
                            <button type="button" class="btn">1 tháng</button>
                            <button type="button" class="btn ms-4">08/12/2024 <img src="images/icon-calendar.png"
                                    class="img-fluid" alt="" /></button>
                            <span>~</span>
                            <button type="button" class="btn">08/12/2024 <img src="images/icon-calendar.png"
                                    class="img-fluid" alt="" /></button>
                        </div>
                        <div class="btn-check-xl">
                            <a href="#" title="Kiểm tra">
                                Kiểm tra
                            </a>
                        </div>
                    </div>
                    <div class="card my-4 total-install border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="total">
                                        <h4 class="title-total">Số người dùng</h4>
                                        <h2 class="number-total">{{(serviceGetInfoModel?.totalUsers ?? 0 | number)?.replaceAll(',', '.')}}</h2>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="total">
                                        <h4 class="title-total">Số lượt clicks</h4>
                                        <h2 class="number-total">{{(serviceGetInfoModel?.totalClicks ?? 0 | number)?.replaceAll(',', '.')}}</h2>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="total">
                                        <h4 class="title-total">Số lượt cài đặt</h4>
                                        <h2 class="number-total">{{(serviceGetInfoModel?.totalInstall ?? 0 | number)?.replaceAll(',', '.')}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-home-right">
    <img src="images/home-bg-circle.png" class="img-fluid" alt="" />
</div>