<div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 position-relative pe-lg-5">
                    <div class="logo text-end">
                        <a href="#" title="VTC Mobile">
                            <img src="images/logo-vtcmobile.png" alt="Logo" class="img-fluid" />
                        </a>
                    </div>
                    <p class="copyright text-end">Copyright 2024 © VTC Mobile<br />
                        Công ty cổ phần dịch vụ di động </p>
                    <img src="images/line-f.png" class="img-fluid line-f" alt="" />
                </div>
                <div class="col-lg-8 position-relative ps-lg-5">
                    <ul class="nav justify-content-between nav-footer">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onNavListGame()" ng-model="">
                                Danh sách Game
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="onNavMissionPage()">
                                Danh sách nhiệm vụ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="onNavPersonalPage()">
                                Trang cá nhân
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Liên hệ với chúng tôi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Điều khoản
                            </a>
                        </li>
                    </ul>
                    <div class="info">
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0">
                                <p class="mb-0"><img src="images/icon-location.png" class="img-fluid" alt="" /> Hà Nội
                                </p>
                                <p class="mb-1">Tầng 11 - Tòa VTC 18 Tam Trinh - HBT - Hà Nội</p>
                            </li>
                            <li class="list-group-item bg-transparent border-0">
                                <p class="mb-0"><img src="images/icon-location.png" class="img-fluid" alt="" /> Thành
                                    Phố Hồ Chí Minh</p>
                                <p class="mb-1">Tầng 3, Tòa nhà VTC, 132 Cộng Hòa, phường 4, quận Tân Bình, TP Hồ Chí
                                    Minh</p>
                            </li>
                            <li class="list-group-item bg-transparent border-0"><img src="images/icon-tel.png"
                                    class="img-fluid" alt="" /> Điện thoại: (024).39877470 - (024).39877210 </li>
                        </ul>
                    </div>
                    <div class="social">
                        <a class="px-1" href="#" title="Facebook">
                            <img src="images/icon-fb.png" class="img-fluid" alt="" (click)="ngNavigate('https://facebook.com')" />
                        </a>
                        <a class="" href="#" title="Youtube">
                            <img src="images/icon-ytb.png" class="img-fluid" alt="" (click)="ngNavigate('https://facebook.com')" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>