<div class="model-pop">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="text-center"><img src="images/icon-success.png" class="img-fluid" alt="" /></p>
                <h4 class="title-modal text-center">Đăng ký thành công</h4>
                <p class="text-center">Vui lòng đăng nhập với tài khoản Scoin để sử dụng.</p>
            </div>

            <!-- Modal footer -->
            <div class="button-container">
                <a href="#" type="button" class="custom-button" data-bs-dismiss="" (click)="onLogin()">Đăng nhập</a>
            </div>
        </div>
    </div>
</div>