<div>
    <div class="main-banner ">
        <div class="container zoom">
            <h1 class="text-main text-center" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500"
                data-aos-delay="0"><img src="images/text-influencer.png" class="img-fluid" alt="" /></h1>
            <p class="text-center text-des" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="500"
                data-aos-delay="0">Influencer là những người ảnh hưởng, hoạt động trên nhiều nền tảng khác nhau và tích
                cực hỗ trợ quảng bá trò chơi. Khám phá các cơ hội tăng trưởng mới thông qua quan hệ đối tác với
                Influencer Affiliate</p>
            <div class="text-center pulse">
                <a class="btn-xemthem" href="register-aff.html" title="Xem thêm">
                    Xem thêm
                </a>
            </div>
        </div>
        <div class="bg-left" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="0">
            <img src="images/bg-left.png" class="img-fluid" alt="" />
        </div>
        <div class="bg-right" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="0">
            <img src="images/bg-right.png" class="img-fluid" alt="" />
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                    data-aos-delay="0">
                    <div class="item">
                        <div class="image">
                            <img src="images/featured-01.png" class="img-fluid rounded-4" alt="" />
                        </div>
                        <h4>Phân phối link tải game là gì?</h4>
                        <p class="description">Khi Người chơi từ link tải của Influencer mua một mặt hàng phải trả phí
                            trong trò chơi, một tỷ lệ phần trăm nhất định của số tiền thanh toán sẽ được ghi nhận cho
                            Influencer.</p>
                        <div class="text-center pulse">
                            <a class="btn-xemthem" href="danh-sach-game.html" title="Xem thêm">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                    data-aos-delay="100">
                    <div class="item">
                        <div class="image">
                            <img src="images/featured-02.png" class="img-fluid rounded-4" alt="" />
                        </div>
                        <h4>Thực hiện nhiệm vụ là gì?</h4>
                        <p class="description">Khi Người theo dõi từ mã mời của Influencer hoàn thành các nhiệm vụ game,
                            số point tương ứng của từng nhiệm vụ sẽ được ghi nhận cho Influencer.</p>
                        <div class="text-center pulse">
                            <a class="btn-xemthem" href="quest.html" title="Xem thêm">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500"
                    data-aos-delay="200">
                    <div class="item">
                        <div class="image">
                            <img src="images/featured-03.png" class="img-fluid rounded-4" alt="" />
                        </div>
                        <h4>Point là gì?</h4>
                        <p class="description"> Point là số điểm của nhiệm vụ game, được ghi nhận cho Influencer sau khi
                            Người theo dõi hoàn thành các nhiệm vụ game</p>
                        <div class="text-center pulse">
                            <a class="btn-xemthem" href="profile.html" title="Xem thêm">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-home-right">
        <img src="images/home-bg-circle.png" class="img-fluid" alt="" />
    </div>
    <div class="cta">
        <div class="container">
            <div class="game" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="100">
                <div class="row align-items-center">
                    <div class="col-lg-4 offset-lg-1 text-end pe-4">
                        <img src="images/thumb-cta-game.png" class="img-fluid rounded-4" width="360" alt="" />
                    </div>
                    <div class="col-lg-6">
                        <h4>Danh sách GAME</h4>
                        <p class="description">Trở thành Influencer tham gia phân phối bản cài các game, đa dạng thể
                            loại: Mobile, PC, MMORPG, SLG,… và nhận hoa hồng không giới hạn</p>
                        <div class="text-start">
                            <a class="btn-xemthem" href="danh-sach-game.html" title="Tham gia">
                                Tham gia
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quest" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500" data-aos-delay="200">
                <div class="row align-items-center">
                    <div class="col-lg-6 offset-lg-1 text-end pe-4">
                        <h4>Danh sách NHIỆM VỤ</h4>
                        <p class="description ps-5">Kêu gọi Người theo dõi hoàn thành nhiệm vụ để nhận point và nhận ưu
                            đãi từ Nhà phát hành</p>
                        <div class="text-end">
                            <a class="btn-xemthem" href="quest.html" title="Tham gia">
                                Tham gia
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 order-first order-lg-last ">
                        <img src="images/thumb-cta-quest.png" class="img-fluid rounded-4" width="360" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-cta-left">
            <img src="images/home-bg-chess.png" class="img-fluid" alt="" />
        </div>
        <div class="bg-cta-right">
            <img src="images/home-bg-leaf.png" class="img-fluid" alt="" />
        </div>
    </div>
</div>